html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans";
  margin: 0;
  background: linear-gradient(260deg, #c1e5c1 0%, #cc11ee 100%);
}

a {
  text-decoration: none;
  color: white;
  padding: 20px 5px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  display: inline-block;
  width: 100%;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.2);
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

.flex-nav ul {
  list-style: none;
  border: 1px solid black;
  padding: 0;
  margin: 0;

  display: flex;
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}

@media all and (max-width: 1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 50%;
  }

  .flex-nav .social {
    flex: 1 1 33.33%;
  }
}

@media all and (max-width: 500px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 100%;
  }

  .flex-nav .social {
    flex: 1 1 33.33%;
  }
}
